<div class="page page-smart-table">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a class="point" href="#/"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a>{{page.title}}</a> / <a href="#!/settings">Settings</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->

  <!-- page content -->
  <div class="pagecontent">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">

        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen02">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Apparence </strong>Configuration</h1>
            <ul class="controls">
              <li class="dropdown">
                <a class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>
                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <li>
                    <a href tile-control-toggle>
                      <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                      <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                    </a>
                  </li>
                  <li>
                    <a href tile-control-refresh ng-click="ajaxFaker()">
                      <i class="fa fa-refresh"></i> Refresh
                    </a>
                  </li>
                  <li>
                    <a href tile-control-fullscreen ng-click="isFullscreen02 = !isFullscreen02">
                      <i class="fa fa-expand"></i> Fullscreen
                    </a>
                  </li>
                  <li>
                    <a href tile-control-lightbox>
                      <i class="fa fa-magnet"></i> Open in Lightbox
                    </a>
                  </li>

                </ul>

              </li>
              <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
            </ul>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body">
				<table class="table table-custom">
				  <thead>
					  <tr>
							<th>Section</th>
							<th>Font-color</th>
							<th>Link-color</th>
							<th>Background-color</th>
					  </tr>
				  </thead>
				  <tr>
					  <td>Header</td>
					  <td><input type="color" ng-model="configuration.apparence.header.color"></input></td>
					  <td><input type="color" ng-model="configuration.apparence.header.linkcolor"></input></td>					  					  
					  <td><input type="color" ng-model="configuration.apparence.header.background"></input></td>
				  </tr>
				  <tr>
					  <td>Nav</td>
					  <td><input type="color" ng-model="configuration.apparence.left.color"></input></td>
					  <td><input type="color" ng-model="configuration.apparence.left.linkcolor"></input></td>
					  <td><input type="color" ng-model="configuration.apparence.left.background"></input></td>
				  </tr>
				  <tr>
					  <td>Content</td>
					  <td><input type="color" ng-model="configuration.apparence.content.color"></input></td>
					  <td><input type="color" ng-model="configuration.apparence.content.linkcolor"></input></td>
					  <td><input type="color" ng-model="configuration.apparence.content.background"></input></td>
				  </tr>
				  <tr>
					  <td>Footer</td>
					  <td><input type="color" ng-model="configuration.apparence.footer.color"></input></td>
					  <td><input type="color" ng-model="configuration.apparence.footer.linkcolor"></input></td>
					  <td><input type="color" ng-model="configuration.apparence.footer.background"></input></td>					  
				  </tr>
				</table>
				<hr>
				<button class="btn btn-success">Save</button>&nbsp;
				<button class="btn btn-info" ng-click="clear()">Clear</button>
				<a href="#!/settings"><button class="btn btn-warning">Back</button></a>
				<span class="alert alert-success">Changes is apply when you click "Save"</span>
				<br>
          </div>
          <!-- /tile body -->

        </section>
        <!-- /tile -->

      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /page content -->
</div>