<div class="page page-smart-table">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a class="point" href="#/"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a>{{page.title}}</a> / <a href="#!/settings">Settings</a> / <a href="#!/settings/menu">Menu</a> / Data
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->

  <!-- page content -->
  <div class="pagecontent">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">

        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen02">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Data </strong>Configuration for <span class="alert alert-success">{{newOption.caption}}</span></h1>
            <ul class="controls">
              <li class="dropdown">
                <a class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>
                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <li>
                    <a href tile-control-toggle>
                      <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                      <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                    </a>
                  </li>
                  <li>
                    <a href tile-control-refresh ng-click="ajaxFaker()">
                      <i class="fa fa-refresh"></i> Refresh
                    </a>
                  </li>
                  <li>
                    <a href tile-control-fullscreen ng-click="isFullscreen02 = !isFullscreen02">
                      <i class="fa fa-expand"></i> Fullscreen
                    </a>
                  </li>
                  <li>
                    <a href tile-control-lightbox>
                      <i class="fa fa-magnet"></i> Open in Lightbox
                    </a>
                  </li>

                </ul>

              </li>
              <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
            </ul>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body">
				<table class="table table-striped">
					<caption>Structure</caption>
					<thead>
						<tr>							
							<th width="24%">Field</th>
							<th width="24%">Caption</th>
							<th width="10%">Type</th>
							<th width="10%">Width</th>
							<th width="4%">Filter</th>
							<th width="4%">Sort</th>
							<th width="4%">Edit</th>
							<th width="4%">Visible</th>
							<th width="5%">Options</th>
							<th width="17%">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="option in fields">
							<td><span>{{option.field}}</span></td>
							<td><span>{{option.caption}}</span></td>
							<td><span>{{option.type}}</span></td>
							<td><span>{{option.width}}</span></td>
							<td><input type="checkbox" ng-model="option.filter" ng-checked="option.filter==1"></input></td>
							<td><input type="checkbox" ng-model="option.sort" ng-checked="option.sort==1"></input></td>
							<td><input type="checkbox" ng-model="option.edit" ng-checked="option.edit==1"></input></td>
							<td><input type="checkbox" ng-model="option.visible" ng-checked="option.visible==1"></input></td>
							<td><button class="btn btn-sm btn-success"><i class="fa fa-wrench"></i></button></td>
							<td>
								<button><span class="glyphicon glyphicon-pencil"></span></button>
								<button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
							</td>
						</tr>
						<tr>
							<td>
								<input placeholder="Field" class="form-control" ng-model="newField.field"></input>
							</td>
							<td>
								<input placeholder="Caption" class="form-control" ng-model="newField.caption"></input>
							</td>
							<td>
								<select placeholder="Type" class="form-control" ng-model="newField.type">
									<option>Integer</option>
									<option>Auto</option>
									<option>Float</option>
									<option>Text</option>
									<option>Email</option>
									<option>Password</option>
									<option>File</option>
									<option>Color</option>
									<option>Date</option>
									<option>Datetime</option>
									<option>Boolean</option>
									<option>Enum</option>
									<option>Status</option>
									<option>Model</option>
								</select>
							</td>
							<td>
								<input type="number" class="form-control" placeholder="Width" min="0" max="100" ng-model="newField.width"></input>
							</td>
							<td>
								<input type="checkbox" class="form-control" ng-checked="newField.filter==1" ng-model="newField.filter"></input>
							</td>
							<td>
								<input type="checkbox" class="form-control" ng-checked="newField.sort==1" ng-model="newField.sort"></input>
							</td>
							<td>
								<input type="checkbox" class="form-control" ng-checked="newField.edit==1" ng-model="newField.edit"></input>
							</td>
							<td>
								<input type="checkbox" class="form-control" ng-checked="newField.visible==1" ng-model="newField.visible"></input>
							</td>							
							<td>
								<button class="btn btn-sm btn-success"><i class="fa fa-wrench"></i></button>
							</td>
							<td>
								<button ng-click="saveField()">
									<span class="glyphicon glyphicon-save"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
				<hr>
				<table class="table table-striped">
					<caption>Test environment</caption>
					<thead>
						<tr>
							<th ng-repeat="field in fields" width="{{field.width}}%">{{field.caption}}</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="dato in datos">
							<td ng-repeat="field in fields"><span>{{dato[field.field]}}</span></td>
							<td>
								<button class="btn btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
								<button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
							</td>
						</tr>						
						<tr>
							<td ng-repeat="field in fields"><input class="form-control" ng-model="newDato[field.field]"></input></td>
							<td><button ng-click="saveDato()"><span class="glyphicon glyphicon-save"></span></button></td>
						</tr>
					</tbody>
				</table>
				<hr>
				<div class="form-group">
					<div class="col-xs-4">
						<label for="develop" class=""><h3>Develop environment</h3></label>
					</div>
					<div class="col-xs-7">
						<input type="text" class="form-control" name="develop" id="develop" placeholder="Api restful for develop environment" ng-model="configuration.data.develop" />
					</div>
					<div class="col-xs-1">
						<button class="btn btn-sm"><i class="fa fa-save"></i></button>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="form-group">
					<div class="col-xs-4">
						<label for="production" class=""><h3>Production environment</h3></label>
					</div>
					<div class="col-xs-7">
						<input type="text" class="form-control" name="production" id="production" placeholder="Api restful for production environment" ng-model="configuration.data.production" />
					</div>
					<div class="col-xs-1">
						<button class="btn btn-sm"><i class="fa fa-save"></i></button>
					</div>					
				</div>
				<hr><br><br><br>
          </div>
          <!-- /tile body -->

        </section>
        <!-- /tile -->

      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /page content -->
</div>