<div class="">

  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.dashboard">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>

  <!-- cards row -->
  <div class="">
		<div class="col-xs-12 col-sm-3">
			<img src="images/ivan-foto.png" width="80%"/>
		</div>
		<div class="col-xs-12 col-sm-9">
			<h1>About me</h1>
			<p style="font-size:20px;">
				Hello everybody, my name is Ivan Dario Calderon Caceres, I am a web developer from Venezuela, 
				I was born in San Cristobal Venezuela in december 14 1979
			</p>
			<br>
			<h1>Acerca de mi </h1>
			<p style="font-size:20px;">
				Hola a todos, mi nombre es Iván Dario Calderon Càceres, soy un desarrollador web Venezolano, nací
				en San Cristobal Venezuela el 14 de diciembre de 1979
			</p>
		</div>
		
	
  </div>
  <!-- /row -->
</div>
