<div class="">

  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.dashboard">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>

  <!-- cards row -->
  <div class="row">

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-greensea">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-users fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">250</p>
              <span>Accounts</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-greensea">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-12">
              <a href=javascript:;><i class="fa fa-refresh fa-2x"></i> Refresh</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-lightred">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-shopping-cart fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">78</p>
              <span>Trial Accounts</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-lightred">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-12">
              <a href=javascript:;><i class="fa fa-refresh fa-2x"></i> Refresh</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-blue">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-usd fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">23</p>
              <span>Monthly Subscriptions</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-blue">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-12">
              <a href=javascript:;><i class="fa fa-refresh fa-2x"></i> Refresh</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-slategray">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-eye fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">13</p>
              <span>Direct Debit Subscriptions</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-slategray">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-12">
              <a href=javascript:;><i class="fa fa-refresh fa-2x"></i> Refresh</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

  </div>
  <!-- /row -->




  <!-- cards row -->
  <div class="row">

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-slategray">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-eye fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">8</p>
              <span>Trial Expired Users</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-slategray">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-12">
              <a href=javascript:;><i class="fa fa-refresh fa-2x"></i> Refresh</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-blue">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-usd fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">3200</p>
              <span>Monthly Visitors</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-blue">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-12">
              <a href=javascript:;><i class="fa fa-refresh fa-2x"></i> Refresh</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-greensea">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-dollar fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">$4500</p>
              <span>Incomes Subscriptors</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-greensea">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-12">
              <a href=javascript:;><i class="fa fa-refresh fa-2x"></i> Refresh</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-lightred">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-dollar fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">$2300</p>
              <span>Incomes Debit Subscriptors</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-lightred">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-12">
              <a href=javascript:;><i class="fa fa-refresh fa-2x"></i> Refresh</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

  </div>
  <!-- /row -->
</div>
