<style>
	#navigation a{
		color:{{configuration.apparence.left.linkcolor}} !important
	}
</style>
<div id="sidebar-wrap" ng-controller="navController">
	  <center><h4>Navigation</h4></center>
	  <hr>
      <ul id="navigation" nav-collapse ripple>
			<li ng-class="{'active':page.selected==1}"><a href="#!/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
			<li ng-repeat="option in configuration.options" ng-class="{'active':page.selected==option.index}"><a href="#!/{{option.target}}"><i ng-class="option.icon"></i><span>{{option.caption}}</span></a></li>
			<li ng-class="{'active':page.selected==total}" ng-show="configuration.env!='production'"><a href="#!/settings"><i class="fa fa-cog"></i> <span>Settings</span></a></li>
	  </ul>	  
</div>
