{{selected}}
<div class="page page-dashboard">

  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a class="point" href="#/"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a>{{page.title}}</a> 
        </li>
      </ul>

    </div>

  </div>

  <!-- cards row -->
  <div class="row">

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-greensea">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-users fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <h3><span>Apparence</span></h3>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-greensea">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-12">
              <a href="#!/settings/apparence"><i class="fa fa-refresh fa-2x"></i> Color, background, etc.</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-lightred">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-shopping-cart fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <h3><span>Menu</span></h3>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-lightred">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-12">
              <a href="#!/settings/menu"><i class="fa fa-refresh fa-2x"></i> Configuration of menu</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

  <!-- cards row -->
  <div class="row">

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-greensea">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-tree fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <h3><span>JSON</span></h3>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-greensea">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-12">
              <a href="#!/settings/general_json"><i class="fa fa-refresh fa-2x"></i> General JSON</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->
	
    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-blue">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-usd fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <h3><span>Security</span></h3>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-blue">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-12">
              <a href="#!/settings/security"><i class="fa fa-refresh fa-2x"></i> Configuration of security</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

    <!-- col -->
  <!-- /row -->
	</div>
</div>
