<div class="page page-smart-table">
  <!-- page header -->
  <div class="pageheader">
    <h2>{{page.title}}</h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a class="point" href="#/"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a>{{page.title}}</a> / {{model}}
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->

  <!-- page content -->
  <div class="pagecontent">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">

        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen02">
          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Table </strong>Filtering</h1>
            <ul class="controls">
              <li class="dropdown">
                <a class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>
                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <li>
                    <a href tile-control-toggle>
                      <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                      <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                    </a>
                  </li>
                  <li>
                    <a href tile-control-refresh ng-click="ajaxFaker()">
                      <i class="fa fa-refresh"></i> Refresh
                    </a>
                  </li>
                  <li>
                    <a href tile-control-fullscreen ng-click="isFullscreen02 = !isFullscreen02">
                      <i class="fa fa-expand"></i> Fullscreen
                    </a>
                  </li>
                  <li>
                    <a href tile-control-lightbox>
                      <i class="fa fa-magnet"></i> Open in Lightbox
                    </a>
                  </li>

                </ul>

              </li>
              <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
            </ul>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body">            
			<button ng-click="clearFilter()" class="btn btn-default pull-right">Clear filter</button>
			<button ng-click="clearSorting()" class="btn btn-default pull-right">Clear sorting</button>
			<button ng-click="" class="btn btn-danger pull-right" ng-disabled="!statusSelect"><i class="fa fa-remove"></i> Delete</button>
			
			<!--Extra buttons begin-->
			<button ng-repeat="eBtn in object.tableParams.extraButtons" ng-click="{{eBtn.callback}}()" ng-class="eBtn.class1" ng-disabled="{{eBtn.disabled}}"><i ng-class="eBtn.icon"></i> 
				{{eBtn.caption}}
			</button>
			<!--Extra buttons end-->
			
			<a href="#!/{{model}}/create"><button class="btn btn-primary pull-right"><i class="fa fa-save"></i> Add</button></a>

            <p><strong>Sorting:</strong> {{object.tableParams.sorting.field}} {{object.tableParams.sorting.direction}} 
            <p><strong>Filter:</strong> {{object.tableParams.filter.field}} {{object.tableParams.filter.operator}} {{object.tableParams.filter.value}}
            <table show-filter="true" class="table table-custom">
			  <thead>
				  <tr>
						<th ng-repeat="title in object.tableParams.titles" style="width:{{title.width}};"><a ng-click="clickTitle(title.callback,title.field)" class="point">{{title.caption}}</a></th>
				  </tr>
				  <tr>
						<th ng-repeat="title in object.tableParams.titles">
							<input type="text" class="editable-input form-control input-sm" ng-show="title.filter==1" />
							<select ng-show="title.filter==2" class="editable-input form-control" style="font-size:12px;">
								<option ng-repeat="opt in title.options">{{opt}}</option>
							</select>
						</th>
				  </tr>
			  </thead>
              <tr ng-repeat="row in object.$data" ng-form="rowForm">
				<td>
					<input type="checkbox" ng-checked="row.select" ng-model="row.select" ng-click="selectOne(row.select)"></input>
				</td>				
				<td ng-repeat="field in row" ng-switch="row.isEditing" ng-show="!$last">
					<span ng-switch-default class="editable-text">{{field}}</span>
					<md-input-container flex ng-class="name.$invalid && name.$dirty ? 'has-error' : ''" ng-switch-when="true">
						<input type="text" name="name" ng-model="field" class="editable-input form-control input-sm" required />
					</md-input-container>
                </td>
				<!--
                <td data-title="'Expiration'" sortable="'user.offerExpirationDate'" filter="{ 'user.offerExpirationDate': 'text' }" ng-switch="row.isEditing" ng-class="name.$dirty ? 'bg-warning' : ''" ng-form="offerExpirationDate">
					<span ng-switch-default class="editable-text">{{row.offerExpirationDate | date:'d-MMMM-y'}}</span>
					<md-input-container flex ng-class="offerExpirationDate.$invalid && offerExpirationDate.$dirty ? 'has-error' : ''" ng-switch-when="true">
						<input type="datetime" name="offerExpirationDate" ng-init="row.offerExpirationDate = today(row.offerExpirationDate)" ng-model="row.offerExpirationDate" class="editable-input form-control input-sm" uib-datepicker-popup="{{users.format}}" is-open="row.opened" datepicker-options="users.dateOptions" required />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="users.open($event, row.user)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</md-input-container>
                </td>
				-->
                <td>
					<button class="btn btn-primary btn-sm" ng-click="users.save(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
					<button class="btn btn-default btn-sm" ng-click="users.cancel(row, rowForm)" ng-if="row.isEditing"><span class="glyphicon glyphicon-remove"></span></button>
					<button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing"><span class="glyphicon glyphicon-pencil"></span></button>
					<!--Extra buttons inside the table Begin-->
					<button ng-repeat="eBtn in object.tableParams.extraButtons" ng-class="eBtn.class2" ng-click="row.isEditing = true" ng-if="!row.isEditing">
						<span ng-class="eBtn.icon2"></span>
					</button>
					<!--Extra buttons inside the table End-->
					<button class="btn btn-danger btn-sm" ng-click="users.del(row)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
              </tr>
            </table>

          </div>
          <!-- /tile body -->

        </section>
        <!-- /tile -->

      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /page content -->
</div>